body {
  font-family: "Lato", sans-serif;
}

::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}

::-webkit-scrollbar-track {
  background: #66666676;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #66666676;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

.button {
  min-width: 80px;
  padding: 10px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  margin: 5px auto;
  transition: all 0.8s ease-in-out;
  border-radius: 20px;
  background: #991b1b;
  box-shadow: 6px 6px 12px #851717, -6px -6px 12px #ad1f1f;
  /* box-shadow: 5px 5px 10px #851717, -5px -5px 10px #ad1f1f; */
}

.button:hover {
  border-radius: 20px;
  background: #991b1b;
  box-shadow: inset 6px 6px 12px #851717, inset -6px -6px 12px #ad1f1f;
}

.inactive {
  padding: 10px;
  color: #fff;
  cursor: not-allowed;
  font-size: 16px;
  margin: 5px auto;
  border-radius: 20px;
  background: #991b1b;
  box-shadow: inset 6px 6px 12px #851717, inset -6px -6px 12px #ad1f1f;
}

.card {
  border-radius: 30px;
  background: #991b1b;
  box-shadow: 12px 12px 28px #841717, -12px -12px 28px #ae1f1f;
  padding: 20px;
}

.inner-card {
  border-radius: 30px;
  background: #991b1b;
  box-shadow: inset 9px 9px 18px #861919, inset -9px -9px 18px #ac1b1b;
}

.tbl > tbody > tr > th {
  text-align: right;
  padding: 2px 12px;
  width: 50%;
}

.badge {
  border-radius: 30px;
  background: #991b1b;
  box-shadow: inset 9px 9px 18px #861919, inset -9px -9px 18px #ac1b1b;
  padding: 5px;
}

.arimo {
  font-family: "Arimo", sans-serif;
}

.item {
  border-radius: 15px;
}

.item:hover {
  background-color: #9c2f2f;
}

.active {
  border-color: white !important;
  background-color: #9c2f2f;
  padding: 0 5px;
}
